<% provide(:title, "Login") %>
<h1>Login</h1>

<form action="/action_page.php">

  <p>Email</p>
  <input type = "text">
  
  <p>Password</p>
  <input type = "password">
  
  <p><button type = "summit">Log in</button></p>
</form>
</p>